:root {
    --color-primario: #0573ce;
    --color-fondo: #1f2937;
    --color-texto: whitesmoke;
    --color-enlace: #3B82F6;
    --color-sombra: rgba(0, 0, 0, 0.3);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,26,80,1) 100%, rgba(0,212,255,1) 100%);
}

section {
    height: 30rem;
    width: 35rem;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    padding: 9px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    color: var(--color-texto);
    margin-bottom: 10px; /* Espacio entre el logo y el formulario */
}

img {
    width: 400px;
    height: 50px;
}

form {
    border: 0.5px solid grey;
    border-radius: 10px;
    background-color: var(--color-fondo);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px var(--color-sombra);
}

    form h1 {
        color: var(--color-texto);
        margin-bottom: 25px;
        font-size: 24px;
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    form div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
    }

label {
    color: var(--color-texto);
    font-size: 15px;
    text-align: left;
    margin-bottom: 6px;
}

input {
    padding: 15px;
    border: 1px solid #354455CC;
    border-radius: 5px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

    input:focus {
        outline: none;
        border: 2px solid var(--color-primario);
    }

button {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primario);
    color: var(--color-texto);
    cursor: pointer;
    margin-bottom: 10px;
}

    button:hover {
        background-color: #0b47ca;
    }

p {
    color: gray;
    text-decoration: none;
}

    p a {
        color: var(--color-enlace);
        text-decoration: none;
        cursor: pointer;
        text-decoration: none;
    }

        p a:hover {
            text-decoration: underline;
            text-decoration-color: #1b63ff;
            text-decoration-thickness: 2px;
        }

.color-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.color {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 768px) {
    section {
        height: 20rem;
        width: 90%;
    }
}
